.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.limited-width {
  max-width: 150px; /* Set a reasonable maximum width */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow */
}
.limited-width:hover {
  overflow: visible; /* Show full text on hover */
  white-space: normal; /* Allow wrapping on hover */
  background-color: #f0f0f0; /* Optional: change background color on hover */
  z-index: 1; /* Ensure it appears above other elements */
}

table {
  table-layout: fixed; /* Enforce fixed column widths */
  width: 100%; /* Ensure the table spans the container */
}

th, td {
  padding: 8px; /* Add padding for better readability */
  text-align: left; /* Align text to the left */
}